@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

:root {
    --base: #d7d8d8d7;
    --primary: #1c291b;
    --secondary: #41997c;
    --timeroad: rgb(0, 114, 95);
    --timepoint: rgb(0, 49, 35);

}

/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    background:black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 16px;
}

/* LAYOUT */
.container {
    position: relative;
    width: 100%;
    max-width: 1400px;
    min-height: 600px;
    background: var(--base);
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0px 10px 25px rgb(122, 122, 122);
    margin: 1.5rem;
}
.container .sisi_kiri {
    background: var(--primary);
    padding: 24px;
}
.container .sisi_kanan {
    background: var(--base);
    padding: 24px;
}

/* ITEM SISI KIRI */
.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 16px;
    color: var(--base);
    border-bottom: 1px solid var(--base);
}
.profile .img_setting {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}
.profile .img_setting img {
    position: absolute;
    top: 4px;
    right: -6px;
    width: 110%;
    height: 110%;
    object-fit:cover;
}
.profile h4 {
    text-align: center;
    font-size: 17px;
    margin-top: 13px;
    font-weight: 600;
}
.profile h5 {
    font-size: 15px;
    margin-top: 4px;
    font-weight: 300;
    line-height: 16px;
}
.profile .tombol {
    margin-top: 14px;
    padding: 9px 24px;
    font-size: 15px;
    font-weight: 600;
    background: var(--secondary);
    color: var(--primary);
    border: 1px solid var(--primary);
    border-radius: 20px;
    cursor: pointer;
}
.profile .tombol:hover{
    background: var(--primary);
    color: var(--secondary);
    border: 1px solid var(--secondary);
}
.item_kiri {
    margin-top: 19px;
    color: var(--base);
}
.item_kiri .title {
    padding-bottom: 9px;
}
.item_kiri ul li {
    list-style: none;
    margin-bottom: 4px;
}
.item_kiri ul li .icons {
    display: inline-block;
    width: 19px;
    font-size: 19px;
    color: var(--secondary);
}
.item_kiri ul li .text {
    font-weight: 300;
}
.item_kiri ul li .dates {
    color: var(--secondary);
    font-weight: 400;
}
.item_kiri ul li .bio {
    color: var(--secondary);
    font-weight: 500;
}
.item_kiri ul li .data {
    font-weight: 300;
    padding-bottom: 10px;
}
.languages {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.languages li {
    margin-right: 1rem;
}
.languages .percent {
    width: 100%;
    height: 6px;
    background: black;
    display: block;
    margin-top: 5px;
}
.languages .percent div {
    width: 100%;
    height: 5px;
    background: var(--secondary);
}

/* RIGHT SIDE ITEMS */
.item_kanan {
    margin-bottom: 30px;
    font-weight: 600;
    color: var(--primary);
}
.item_kanan .title {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.education {
    display: flex;
    flex-direction: row;
    margin: 16px 0;
}
.education .time_line {
    margin-top: 1px;
}
.education .time_line .time_point {
    width: 20px;
    height: 20px;
    display: block;
    background: var(--timepoint);
    border-radius: 0%;
}
.education .time_line .time_road {
    width: 4px;
    height: 100%;
    display: block;
    background: var(--timepoint);
    transform: translate(8px, 0);
}
.education .content {
    display: grid;
    grid-template-columns: 170px auto;
}
.education .content .interval {
    color: var(--primary);
    min-width: 170px;
    text-align: center;
    font-weight: 400;
}
.education .content .description h4 {
    color: var(--secondary);
}

.organization {
    display: flex;
    flex-direction: row;
    margin: 16px 0;
}
.organization .content {
    display: grid;
    grid-template-columns: 170px auto;
}
.organization .content .interval {
    color: var(--primary);
    min-width: 170px;
    font-weight: 400;
}
.organization .content .description h4 {
    color: var(--secondary);
}

.experience {
    display: flex;
    flex-direction: row;
    margin: 16px 0;
}
.experience .time_line {
    margin-top: 1px;
}
.experience .time_line .time_point {
    width: 20px;
    height: 20px;
    display: block;
    background: var(--timepoint);
    border-radius: 50%;
}
.experience .time_line .time_road {
    width: 4px;
    height: 100%;
    display: block;
    background: var(--timepoint);
    transform: translate(8px, 0);
}
.experience .content {
    display: grid;
    grid-template-columns: 170px auto;
}
.experience .content .interval {
    color: var(--primary);
    min-width: 170px;
    text-align: center;
    font-weight: 400;
}
.experience .content .description h4 {
    color: var(--secondary);
}
.skills {
    width: 100%;
    display: grid;
    grid-template-columns: 180px 300px;
    margin: 16px 0;
    color: var(--timepoint);
}
.skills .percent {
    width: 100%;
    height: 13px;
    background: var(--primary);
}
.skills .percent div {
    width: 100%;
    height: 13px;
    background: var(--secondary);
}
.hobby {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.hobby li {
    list-style: none;
    width: 25px;
    font-size: 19px;
    margin-bottom: 10px;
}
.hobby li .bx {
    color: var(--secondary);
    width: 40px;
    font-size: 25px;
}

/* RESPONSIVE SETTINGS */
@media (max-width: 800px){
    .container {
        grid-template-columns: repeat(1, 1fr);
    }
}
@media (max-width: 500px){
    .experience .content {
        grid-template-columns: 1fr;
        margin: 0 48px;
    }
    .hobby {
        grid-template-columns: repeat(2, 1fr);
    }
    .hobby li {
        margin-bottom: 16px;
    }
}